<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
	<title>Lista Stock</title>

</head>

<body>
		
	<div class="container mt-4">
		<table class="table">
			<thead>
				<tr>
					<td>Id</td>
					<td>Cantidad Actual</td>
					<td>Cantidad Critica</td>
					<td>Producto</td>
			</tr>
			</thead>
			<tbody>
				<tr th:each="s:${stock}">
					<td th:text="${s.id}"></td>
					<td th:text="${s.cantidaActual}"></td>
					<td th:text="${s.cantidadCritca}"></td>
					<td th:text="${s.producto.nombre}"></td>				
				</tr>
			</tbody>
		</table>
	</div>
	
</body>
</html>